/*@mixin btn ($colourprimary:$colour-primary,$coloursecondary:$colour-secondary,$pourcentagesecond:10%,$pourcentageprimary:90%,$pourcentagelighten:10) {
    padding: $btn-paddingv $btn-paddingh;
    @include border;
    color: $btn-color;
    font-weight: bold;
    background:linear-gradient(to bottom, $coloursecondary $pourcentagesecond, lighten($colourprimary,$pourcentagelighten) $pourcentageprimary);
    box-shadow:2px 2px 0px $colour-primary;
    box-shadow:0.2rem 0.2rem 1rem $colour-primary;
    cursor: pointer;
    outline: unset;
    &:hover{
        background: $colourprimary;
        
        outline: unset;
    }
}*/
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: local("Shrikhand Regular"), local("Shrikhand-Regular"), url("polices/Shrikhand-Regular.woff2") format("woff2"), url("polices/Shrikhand-Regular.woff") format("woff"), url("polices/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Regular"), local("Roboto-Regular"), url("polices/Roboto-Regular.woff2") format("woff2"), url("polices/Roboto-Regular.woff") format("woff"), url("polices/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'Roboto', 'Shrikhand','Trebuchet MS', Arial, sans-serif;
  color: black;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.2;
}

h1 {
  /*font-family: 'Shrikhand', sans-serif;*/
  font-family: 'Roboto' , Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-size: 2.0rem;
  font-style: normal;
}

h2 {
  /*font-family: 'Shrikhand', sans-serif;*/
  font-family: 'Roboto' , Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  font-size: 1.8rem;
  font-style: normal;
}

h4 {
  font-family: 'Shrikhand', sans-serif;
  /*font-family: 'Roboto' , Arial, sans-serif;*/
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: white;
  max-width: 1590px;
  min-width: 299px;
  width: 100%;
  margin: auto;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 1270px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

/*.btn {
    @include btn
}*/
/* animations */
.page_principale {
  /*animation: pageweb 0ms 3000ms both;*/
  animation: pageweb 0ms 3000ms both;
  /*animation-name: pageweb;
  animation-duration: 3000ms;
  animation-delay: 3000ms;
  animation-fill-mode: both;*/
  width: 100%;
  margin: 0 auto;
  /*position: absolute;
  top:0;
  z-index:1;
  overflow: hidden;*/
  background-color: white;
}
@media only screen and (min-width: 1270px) {
  .page_principale {
    width: 90%;
  }
}

.loader {
  /** ajout du 10022021 **/
  position: absolute;
  top: 0;
  /**********************/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.loader .load {
  /*      */
  font-family: 'Roboto' , Arial, sans-serif;
  font-weight: 700;
  font-size: 34px;
  font-size: 3.4rem;
  font-style: normal;
  /*      */
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: loadtrans 3000ms 0ms both;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
@media only screen and (min-width: 290px) and (max-width: 329px) {
  .loader .load {
    font-size: 20px;
    font-size: 2.0rem;
  }
}
@media only screen and (max-width: 330px) {
  .loader .load {
    font-size: 26px;
    font-size: 2.6rem;
  }
}
.loader .load .load__let1 {
  text-align: center;
  animation: lettres1 1000ms both;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
.loader .load .load__let2 {
  text-align: center;
  animation: lettres2 1000ms 100ms both;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
.loader .load .load__let3 {
  text-align: center;
  animation: lettres3 1000ms 200ms both;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
.loader .load .load__let4 {
  text-align: center;
  animation: lettres4 1000ms 300ms both;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
.loader .load .load__let5 {
  text-align: center;
  animation: lettres5 1000ms 400ms both;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
.loader .load .load__let6 {
  text-align: center;
  animation: lettres6 1000ms 500ms both;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
.loader .load .load__let7 {
  text-align: center;
  animation: lettres7 1000ms 600ms both;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
.loader .load .load__let8 {
  text-align: center;
  animation: lettres8 1000ms 700ms both;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
.loader .paris {
  /*    */
  font-family: 'Roboto' , Arial, sans-serif;
  font-weight: 900;
  font-size: 20px;
  font-size: 2.0rem;
  font-style: normal;
  /*     */
  width: 40%;
  text-align: center;
  animation: animparis 1400ms 1200ms both;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes pageweb {
  0% {
    /*transform: translateX(-9999px);*/
    visibility: hidden;
  }
  100% {
    /*transform: translateX(0);*/
    visibility: visible;
  }
}
@keyframes lettres1 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: translateY(200px) scale(0.75);
  }
}
@keyframes lettres2 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: translate(15px, 200px) scale(0.75);
  }
}
@keyframes lettres3 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: translate(30px, 200px) scale(0.75);
  }
}
@keyframes lettres4 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: translate(45px, 200px) scale(0.75);
  }
}
@keyframes lettres5 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: translate(60px, 200px) scale(0.75);
  }
}
@keyframes lettres6 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: translate(75px, 200px) scale(0.75);
  }
}
@keyframes lettres7 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: translate(90px, 200px) scale(0.75);
  }
}
@keyframes lettres8 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: translate(105px, 200px) scale(0.75);
  }
}
@keyframes loadtrans {
  0% {
    transform: translate(0px);
  }
  100% {
    /*transform:translate(-25%);*/
    /*transform:translate(-95px);*/
    transform: translate(-55px);
    visibility: hidden;
  }
}
@keyframes animparis {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: translate(10px, 220px) scale(0.75);
    visibility: hidden;
  }
}
/** header **/
header {
  position: relative;
}
header a {
  position: absolute;
  top: 8px;
  top: 0.8rem;
  color: black;
}
header .entete_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-top: 1rem;
}

/** hautpage **/
.hautpage {
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 15px;
  margin-top: 1.5rem;
  padding-bottom: 20px;
  padding-bottom: 2rem;
}
.hautpage .recherche_form {
  width: 100%;
  background-color: #e5e5e5;
}
.hautpage .recherche_form .rechercher {
  padding-top: 10px;
  padding-top: 1rem;
  padding-bottom: 10px;
  padding-bottom: 1rem;
  text-align: center;
  /* icone  marqueur de lieu */
  /* zone input recherche ville */
}
.hautpage .recherche_form .rechercher .fa-map-marker-alt {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
  margin-right: 0px;
}
.hautpage .recherche_form .rechercher input[name="rechercheville"] {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
  border: 0;
  outline: unset;
  text-align: center;
  background-color: #e5e5e5;
}

/** presentation **/
.presentation .baseline {
  margin-top: 20px;
  margin-top: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
.presentation .baseline h1 {
  text-align: center;
  font-size: 20px;
  font-size: 2.0rem;
}
.presentation .soustitre {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
.presentation .soustitre p {
  text-align: center;
}
.presentation .btn_explorer {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  /**/
}
.presentation .btn_explorer .btn {
  padding: 1rem 2rem;
  border: 1px solid #b3b3b3;
  border: 0.1rem solid #b3b3b3;
  border-radius: 10rem;
  color: white;
  font-weight: bold;
  background: linear-gradient(to bottom, #ff79da 10%, #9356dc 90%);
  box-shadow: 1px 2px 5px #b3b3b3;
  box-shadow: 0.1rem 0.2rem 0.5rem #b3b3b3;
  cursor: pointer;
  outline: unset;
}
.presentation .btn_explorer .btn:hover {
  background: linear-gradient(to bottom, #ff93e1 10%, #ae80e5 90%);
  outline: unset;
  box-shadow: 3px 3px 10px #b3b3b3;
  box-shadow: 0.3rem 0.3rem 1rem #b3b3b3;
}

.fonctionnement h2 {
  margin-top: 20px;
  margin-top: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding-left: 10px;
  padding-left: 1rem;
}
@media only screen and (min-width: 650px) {
  .fonctionnement h2 {
    text-align: center;
  }
}
@media only screen and (min-width: 599px) and (max-width: 799px) {
  .fonctionnement h2 {
    font-size: 19px;
    font-size: 1.9rem;
  }
}
@media only screen and (min-width: 800px) and (max-width: 899px) {
  .fonctionnement h2 {
    font-size: 20px;
    font-size: 2.0rem;
  }
}
@media only screen and (min-width: 900px) {
  .fonctionnement h2 {
    font-size: 22px;
    font-size: 2.2rem;
  }
}

/** btn_fonct **/
.btn_fonct {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /**/
  align-items: baseline;
  /**/
}
.btn_fonct .btn_fonct_chiffre {
  font-size: 11px;
  font-size: 1.1rem;
  width: 25px;
  width: 2.5rem;
  height: 25px;
  height: 2.5rem;
  border-radius: 12.5px;
  border-radius: 1.25rem;
  background: #9356DC;
  color: white;
  text-align: center;
  padding: 5px;
  padding: 0.5rem;
  margin-right: -1.5%;
  z-index: 1;
}
.btn_fonct .btn_fonct_theme {
  width: 85%;
  font-size: 14px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #EFEFEF;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
  border: 1px solid #b3b3b3;
  border: 0.1rem solid #b3b3b3;
  border-radius: 1.8rem;
  padding: 20px 25px;
  padding: 2rem 2.5rem;
  color: black;
  font-weight: 600;
  box-shadow: 2px 2px 0px gray;
  box-shadow: 0.2rem 0.2rem 1rem gray;
  cursor: pointer;
  outline: unset;
}
.btn_fonct .btn_fonct_theme .btnopt {
  flex-basis: 98%;
}
.btn_fonct .btn_fonct_theme:hover {
  outline: unset;
  background: #e4d5f6;
}
.btn_fonct .btn_fonct_theme:hover .fa-mobile-alt {
  color: #6023a9;
}
.btn_fonct .btn_fonct_theme:hover .fa-list-ul {
  color: #6023a9;
}
.btn_fonct .btn_fonct_theme:hover .fa-store {
  color: #6023a9;
}
.btn_fonct .btn_fonct_theme:active {
  outline: unset;
  background: #e4d5f6;
}
.btn_fonct .btn_fonct_theme:active .fa-mobile-alt {
  color: #6023a9;
}
.btn_fonct .btn_fonct_theme:active .fa-list-ul {
  color: #6023a9;
}
.btn_fonct .btn_fonct_theme:active .fa-store {
  color: #6023a9;
}
.btn_fonct .btn_fonct_theme .fa-mobile-alt::before, .btn_fonct .btn_fonct_theme .fa-list-ul::before, .btn_fonct .btn_fonct_theme .fa-store::before {
  margin-right: 0px;
}

/** restaurants **/
.restaurants {
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 15px;
  margin-top: 1.5rem;
  padding-bottom: 20px;
  padding-bottom: 2rem;
}
.restaurants h2 {
  padding-top: 30px;
  padding-top: 3rem;
  padding-bottom: 20px;
  padding-bottom: 2rem;
  padding-left: 10px;
  padding-left: 1rem;
}
@media only screen and (min-width: 650px) {
  .restaurants h2 {
    text-align: center;
  }
}
@media only screen and (min-width: 599px) and (max-width: 799px) {
  .restaurants h2 {
    font-size: 19px;
    font-size: 1.9rem;
  }
}
@media only screen and (min-width: 800px) and (max-width: 899px) {
  .restaurants h2 {
    font-size: 20px;
    font-size: 2.0rem;
  }
}
@media only screen and (min-width: 900px) {
  .restaurants h2 {
    font-size: 22px;
    font-size: 2.2rem;
  }
}
.restaurants .restaurant1 {
  width: 90%;
  /*margin-left:4%;*/
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items:center;*/
}
@media only screen and (min-width: 650px) {
  .restaurants .restaurant1 {
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
  }
}
.restaurants .restaurant1 .carterest {
  background: white;
  border-radius: 10px;
  border-radius: 1rem;
  /*border:1px solid black;*/
  box-shadow: 2px 2px 6px grey;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 650px) {
  .restaurants .restaurant1 .carterest {
    flex-basis: 45%;
  }
}
.restaurants .restaurant1 .carterest a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  position: relative;
}
.restaurants .restaurant1 .carterest a .carterimg1 {
  width: 100%;
  height: 120px;
  height: 12rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: auto;
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 450px) and (max-width: 549px) {
  .restaurants .restaurant1 .carterest a .carterimg1 {
    height: 180px;
    height: 18rem;
  }
}
@media only screen and (min-width: 550px) and (max-width: 649px) {
  .restaurants .restaurant1 .carterest a .carterimg1 {
    height: 200px;
    height: 20rem;
  }
}
@media only screen and (min-width: 650px) and (max-width: 749px) {
  .restaurants .restaurant1 .carterest a .carterimg1 {
    height: 150px;
    height: 15rem;
  }
}
@media only screen and (min-width: 750px) and (max-width: 849px) {
  .restaurants .restaurant1 .carterest a .carterimg1 {
    height: 180px;
    height: 18rem;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1049px) {
  .restaurants .restaurant1 .carterest a .carterimg1 {
    height: 180px;
    height: 18rem;
  }
}
@media only screen and (min-width: 1050px) {
  .restaurants .restaurant1 .carterest a .carterimg1 {
    height: 220px;
    height: 22rem;
  }
}
.restaurants .restaurant1 .carterest a .nouveau {
  position: absolute;
  top: 10px;
  top: 1rem;
  right: 10px;
  right: 1rem;
  background: #99E2D0;
  color: #278870;
  padding: 5px;
  padding: 0.5rem;
  font-size: 10px;
  font-size: 1.0rem;
}
.restaurants .restaurant1 .carterest a .carterimg2 {
  width: 100%;
  height: 120px;
  height: 12rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: auto;
  background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 450px) and (max-width: 549px) {
  .restaurants .restaurant1 .carterest a .carterimg2 {
    height: 180px;
    height: 18rem;
  }
}
@media only screen and (min-width: 550px) and (max-width: 649px) {
  .restaurants .restaurant1 .carterest a .carterimg2 {
    height: 200px;
    height: 20rem;
  }
}
@media only screen and (min-width: 650px) and (max-width: 749px) {
  .restaurants .restaurant1 .carterest a .carterimg2 {
    height: 150px;
    height: 15rem;
  }
}
@media only screen and (min-width: 750px) and (max-width: 849px) {
  .restaurants .restaurant1 .carterest a .carterimg2 {
    height: 180px;
    height: 18rem;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1049px) {
  .restaurants .restaurant1 .carterest a .carterimg2 {
    height: 180px;
    height: 18rem;
  }
}
@media only screen and (min-width: 1050px) {
  .restaurants .restaurant1 .carterest a .carterimg2 {
    height: 220px;
    height: 22rem;
  }
}
.restaurants .restaurant1 .carterest a .carterimg3 {
  width: 100%;
  height: 120px;
  height: 12rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: auto;
  background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 450px) and (max-width: 549px) {
  .restaurants .restaurant1 .carterest a .carterimg3 {
    height: 180px;
    height: 18rem;
  }
}
@media only screen and (min-width: 550px) and (max-width: 649px) {
  .restaurants .restaurant1 .carterest a .carterimg3 {
    height: 200px;
    height: 20rem;
  }
}
@media only screen and (min-width: 650px) and (max-width: 749px) {
  .restaurants .restaurant1 .carterest a .carterimg3 {
    height: 150px;
    height: 15rem;
  }
}
@media only screen and (min-width: 750px) and (max-width: 849px) {
  .restaurants .restaurant1 .carterest a .carterimg3 {
    height: 180px;
    height: 18rem;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1049px) {
  .restaurants .restaurant1 .carterest a .carterimg3 {
    height: 180px;
    height: 18rem;
  }
}
@media only screen and (min-width: 1050px) {
  .restaurants .restaurant1 .carterest a .carterimg3 {
    height: 220px;
    height: 22rem;
  }
}
.restaurants .restaurant1 .carterest a .carterimg4 {
  width: 100%;
  height: 120px;
  height: 12rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: auto;
  background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 450px) and (max-width: 549px) {
  .restaurants .restaurant1 .carterest a .carterimg4 {
    height: 180px;
    height: 18rem;
  }
}
@media only screen and (min-width: 550px) and (max-width: 649px) {
  .restaurants .restaurant1 .carterest a .carterimg4 {
    height: 200px;
    height: 20rem;
  }
}
@media only screen and (min-width: 650px) and (max-width: 749px) {
  .restaurants .restaurant1 .carterest a .carterimg4 {
    height: 150px;
    height: 15rem;
  }
}
@media only screen and (min-width: 750px) and (max-width: 849px) {
  .restaurants .restaurant1 .carterest a .carterimg4 {
    height: 180px;
    height: 18rem;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1049px) {
  .restaurants .restaurant1 .carterest a .carterimg4 {
    height: 180px;
    height: 18rem;
  }
}
@media only screen and (min-width: 1050px) {
  .restaurants .restaurant1 .carterest a .carterimg4 {
    height: 220px;
    height: 22rem;
  }
}
.restaurants .restaurant1 .carterest a .descrimgr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.restaurants .restaurant1 .carterest a .descrimgr .descritexte {
  padding-left: 10px;
  padding-left: 1rem;
  padding-top: 10px;
  padding-top: 1rem;
  padding-bottom: 10px;
  padding-bottom: 1rem;
}
.restaurants .restaurant1 .carterest a .descrimgr .descritexte .descritexte1 {
  font-weight: bold;
}
.restaurants .restaurant1 .carterest a .descrimgr .descritexte .descritexte1::first-letter {
  text-transform: capitalize;
}
.restaurants .restaurant1 .carterest a .descrimgr .coeur {
  padding-right: 10px;
  padding-right: 1rem;
  position: absolute;
  right: 20px;
  color: white;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: black;
}
.restaurants .restaurant1 .carterest a .descrimgr .coeur:hover {
  animation-name: remplissagecoeur;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  /*text-shadow:unset;*/
}

footer {
  background: #4d4d4d;
}
footer .menu_footer p {
  color: white;
  padding-top: 10px;
  padding-top: 1rem;
  padding-left: 10px;
  padding-left: 1rem;
  font-family: 'Shrikhand', sans-serif;
}
@media only screen and (min-width: 320px) and (max-width: 399px) {
  footer .menu_footer p {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 400px) {
  footer .menu_footer p {
    font-size: 20px;
    font-size: 2rem;
  }
}
footer .menu_footer ul {
  padding-left: 10px;
  padding-left: 1rem;
  padding-top: 10px;
  padding-top: 1rem;
  padding-bottom: 10px;
  padding-bottom: 1rem;
  list-style-type: none;
}
footer .menu_footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  font-size: 1.0rem;
  line-height: 1.8;
}
@media only screen and (min-width: 320px) and (max-width: 399px) {
  footer .menu_footer ul li a {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 799px) {
  footer .menu_footer ul li a {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 800px) {
  footer .menu_footer ul li a {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
footer .menu_footer ul li .fa-utensils::before {
  margin-right: 10px;
  margin-right: 1rem;
}
@media only screen and (min-width: 320px) and (max-width: 399px) {
  footer .menu_footer ul li .fa-utensils::before {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 799px) {
  footer .menu_footer ul li .fa-utensils::before {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 800px) {
  footer .menu_footer ul li .fa-utensils::before {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
footer .menu_footer ul li .fa-hands-helping::before {
  margin-right: 10px;
  margin-right: 1rem;
}
@media only screen and (min-width: 320px) and (max-width: 399px) {
  footer .menu_footer ul li .fa-hands-helping::before {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 799px) {
  footer .menu_footer ul li .fa-hands-helping::before {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 800px) {
  footer .menu_footer ul li .fa-hands-helping::before {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

@keyframes remplissagecoeur {
  0% {
    color: white;
  }
  50% {
    opacity: 0.4;
    -webkit-text-stroke: 0px;
    background: -moz-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
    background: -webkit-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /*background-clip: text;*/
    -webkit-text-fill-color: transparent;
  }
  100% {
    opacity: 1;
    -webkit-text-stroke: 0px;
    background: -moz-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
    background: -webkit-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /*background-clip: text;*/
    -webkit-text-fill-color: transparent;
  }
}
/** page carte restaurant la palette du gout  **/
/**                                          **/
.corps_resto {
  width: 100%;
  background: #f2f2f2;
}
.corps_resto .btn_explorer_carte {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  /**/
  margin-bottom: 50px;
}
.corps_resto .btn_explorer_carte .btn {
  padding: 1rem 2rem;
  border: 1px solid #b3b3b3;
  border: 0.1rem solid #b3b3b3;
  border-radius: 10rem;
  color: white;
  font-weight: bold;
  background: linear-gradient(to bottom, #ff79da 10%, #9356dc 90%);
  box-shadow: 1px 2px 5px #b3b3b3;
  box-shadow: 0.1rem 0.2rem 0.5rem #b3b3b3;
  cursor: pointer;
  outline: unset;
}
.corps_resto .btn_explorer_carte .btn:hover {
  background: linear-gradient(to bottom, #ff93e1 10%, #ae80e5 90%);
  outline: unset;
  box-shadow: 3px 3px 10px #b3b3b3;
  box-shadow: 0.3rem 0.3rem 1rem #b3b3b3;
}
.corps_resto .ajust_color {
  margin-bottom: 0;
  height: 0.1px;
}

a.affiche_fleche {
  position: absolute;
  top: 10px;
  top: 1rem;
  left: 30px;
  left: 3rem;
}

/*.carte_img_palette {*/
.carte_img_restaurant {
  width: 100%;
  height: 160px;
  height: 16rem;
  margin: auto;
  margin-top: 10px;
  margin-top: 1rem;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 601px) and (max-width: 799px) {
  .carte_img_restaurant {
    height: 200px;
    height: 20rem;
  }
}
@media only screen and (min-width: 800px) and (max-width: 899px) {
  .carte_img_restaurant {
    height: 220px;
    height: 22rem;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .carte_img_restaurant {
    height: 240px;
    height: 24rem;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .carte_img_restaurant {
    height: 260px;
    height: 26rem;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1499px) {
  .carte_img_restaurant {
    height: 280px;
    height: 28rem;
  }
}
@media only screen and (min-width: 1500px) {
  .carte_img_restaurant {
    height: 300px;
    height: 30rem;
  }
}
.carte_img_restaurant.carte_img_palette {
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.carte_img_restaurant.carte_lanote {
  background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.carte_img_restaurant.carte_la_francaise {
  background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.carte_img_restaurant.carte_delice_sens {
  background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.carte_menu {
  width: 100%;
  background: #f2f2f2;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  position: relative;
  top: -20px;
}
.carte_menu .nom_restaurant {
  padding-top: 15px;
  padding-top: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.carte_menu .nom_restaurant h1 {
  font-family: 'Shrikhand','Trebuchet MS', Arial, sans-serif;
  font-weight: 500;
  position: relative;
}
.carte_menu .nom_restaurant h1::first-letter {
  text-transform: capitalize;
}
.carte_menu .nom_restaurant .fa-heart {
  cursor: pointer;
  color: white;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: black;
}
.carte_menu .nom_restaurant .fa-heart:hover {
  /*color:$colour-primary;*/
  /*text-shadow: -1px 0 $colour-primary, 0 1px $colour-primary, 1px 0 $colour-primary, 0 -1px $colour-primary;*/
  animation-name: remplissagecoeur;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
.carte_menu .envelop_theme_plat {
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
  padding-bottom: 2rem;
}
.carte_menu .envelop_theme_plat .carte_theme_plat {
  margin-left: 5%;
  margin-right: 5%;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .titre_carte {
  display: inline-block;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .titre_carte p {
  text-transform: uppercase;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .titre_carte .soulignement {
  width: 60%;
  height: 3px;
  height: 0.3rem;
  background: #99E2D0;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu {
  position: relative;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu .lien_carte_theme_plat_contenu {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu .lien_carte_theme_plat_contenu .carte_theme_plat_contenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px grey;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu .lien_carte_theme_plat_contenu .carte_theme_plat_contenu .plat {
  width: 100%;
  min-width: 0;
  padding: 1rem;
  position: relative;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu .lien_carte_theme_plat_contenu .carte_theme_plat_contenu .plat .plat1p {
  font-weight: bold;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu .lien_carte_theme_plat_contenu .carte_theme_plat_contenu .plat .plat1p::first-letter {
  text-transform: capitalize;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu .lien_carte_theme_plat_contenu .carte_theme_plat_contenu .plat .plat2p {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu .lien_carte_theme_plat_contenu .carte_theme_plat_contenu .plat .plat2p .lplat2p {
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu .lien_carte_theme_plat_contenu .carte_theme_plat_contenu .plat .plat2p .lplat2p::first-letter {
  text-transform: capitalize;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu .lien_carte_theme_plat_contenu .carte_theme_plat_contenu .plat .plat2p .tarif {
  font-weight: bold;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu .lien_carte_theme_plat_contenu .carte_theme_plat_select {
  width: 0rem;
  overflow: hidden;
  position: relative;
  height: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 6px grey;
  background: #99E2D0;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu .lien_carte_theme_plat_contenu .carte_theme_plat_select p {
  position: absolute;
  top: 25%;
  left: 25%;
  color: white;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu:hover .carte_theme_plat_select {
  animation-name: deplacement;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.carte_menu .envelop_theme_plat .carte_theme_plat .envelop_carte_theme_plat_contenu:hover .carte_theme_plat_select .fa-check-circle {
  animation-name: rotationicone;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.anim_carte1 {
  animation-name: apparitionc1;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
  animation-delay: 0ms;
}

.anim_carte2 {
  animation-name: apparitionc1;
  animation-duration: 2000ms;
  animation-timing-function: ease-in;
  animation-delay: 0ms;
}

.anim_carte3 {
  animation-name: apparitionc1;
  animation-duration: 3000ms;
  animation-timing-function: ease-in;
  animation-delay: 0ms;
}

@keyframes deplacement {
  0% {
    width: 0rem;
  }
  50% {
    width: 2.5rem;
  }
  100% {
    width: 5rem;
  }
}
@keyframes rotationicone {
  0% {
    transform-origin: center;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: center;
    transform: rotate(360deg);
  }
}
@keyframes apparitionc1 {
  0% {
    opacity: 0;
    bottom: -15px;
  }
  25% {
    opacity: 0.10;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
/*       */

/*# sourceMappingURL=style.css.map */
