/* animations */
.pageprincipale 
{
    /*animation: pageweb 0ms 3000ms both;*/
    animation: pageweb 0ms 3000ms both;
    /*animation-name: pageweb;
    animation-duration: 3000ms;
    animation-delay: 3000ms;
    animation-fill-mode: both;*/
    width: 100%;
   
    @media only screen and (min-width:1270px) { 
        width:90%;
    }    
    margin:0 auto;    
    /*position: absolute;
    top:0;
    z-index:1;
    overflow: hidden;*/   
    background-color: white;
}

  .loader {

    /** ajout du 10022021 **/
    position:absolute;
    top:0;
    /**********************/

	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
    width:100%;
    .load {
        /*      */
        font-family: 'Roboto' , Arial, sans-serif;
        font-weight: 700;
        font-size: 34px;
        font-size: 3.4rem;
        @media only screen and (min-width:290px) and (max-width:329px) {
            font-size: 20px;
            font-size: 2.0rem; 
        }
        @media only screen and (max-width:330px) {
            font-size: 26px;
            font-size: 2.6rem; 
        }
        font-style: normal;
        /*      */
        width:40%;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        animation: loadtrans 3000ms 0ms both;        
        animation-direction:normal;
        animation-timing-function: ease-in-out; 
        .load__let1 {
            text-align:center;
            animation: lettres1 1000ms both;        
            animation-direction:normal;
            animation-timing-function: ease-in-out; 
        }        
        .load__let2 {
            text-align:center;
            animation: lettres2 1000ms 100ms both;        
            animation-direction:normal;
            animation-timing-function: ease-in-out; 
        }        
        .load__let3 {
            text-align:center;
            animation: lettres3 1000ms 200ms both;        
            animation-direction:normal;
            animation-timing-function: ease-in-out; 
        }        
        .load__let4 {
            text-align:center;
            animation: lettres4 1000ms 300ms both;        
            animation-direction:normal;
            animation-timing-function: ease-in-out; 
        }        
        .load__let5 {
            text-align:center;
            animation: lettres5 1000ms 400ms both;        
            animation-direction:normal;
            animation-timing-function: ease-in-out; 
        }        
        .load__let6 {
            text-align:center;
            animation: lettres6 1000ms 500ms both;        
            animation-direction:normal;
            animation-timing-function: ease-in-out; 
        }        
        .load__let7 {
            text-align:center;
            animation: lettres7 1000ms 600ms both;        
            animation-direction:normal;
            animation-timing-function: ease-in-out; 
        }        
        .load__let8 {
            text-align:center;
            animation: lettres8 1000ms 700ms both;        
            animation-direction:normal;
            animation-timing-function: ease-in-out; 
        }        
    }
    .paris {
        /*    */
        font-family: 'Roboto' , Arial, sans-serif;
        font-weight: 900;
        font-size: 20px;
        font-size: 2.0rem;
        font-style: normal;
        /*     */
	    width:40%;
	    text-align:center;
	    animation: animparis 1400ms 1200ms both;        
        animation-direction:normal;
        animation-timing-function: ease-in-out; 
    }
}


@keyframes pageweb {
    0% {
      /*transform: translateX(-9999px);*/
      visibility:hidden;
    }
    100% {
      /*transform: translateX(0);*/
      visibility:visible;
    }
  }

@keyframes lettres1 
{
   0%
        {
		transform: scale(0.5);
        }
  100% 
        {
        transform:translateY(200px) scale(0.75);
        }
}

@keyframes lettres2 
{
   0%
        {
		transform: scale(0.5);
        }
  100% 
        {
        transform:translate(15px, 200px) scale(0.75);
        }
}

@keyframes lettres3 
{
   0%
        {
		transform: scale(0.5);
        }
  100% 
        {
        transform:translate(30px, 200px) scale(0.75);
        }
}

@keyframes lettres4 
{
   0%
        {
		transform: scale(0.5);
        }
  100% 
        {
        transform:translate(45px, 200px) scale(0.75);
        }
}

@keyframes lettres5 
{
   0%
        {
		transform: scale(0.5);
        }
  100% 
        {
        transform:translate(60px, 200px) scale(0.75);
	}
}

@keyframes lettres6 
{
   0%
        {
		transform: scale(0.5);
        }
  100% 
        {
        transform:translate(75px, 200px) scale(0.75);
	}
}

@keyframes lettres7 
{
   0%
        {
		transform: scale(0.5);
        }
  100% 
        {
        transform:translate(90px, 200px) scale(0.75);
	}
}

@keyframes lettres8 
{
   0%
        {
		transform: scale(0.5);
        }
  100% 
        {
        transform:translate(105px, 200px) scale(0.75);
        }
}

@keyframes loadtrans 
{
   0%
        {
		transform: translate(0px);		
	}
  100% 
        {
		/*transform:translate(-25%);*/
        /*transform:translate(-95px);*/
        transform:translate(-55px);
        visibility:hidden;
	}
}

@keyframes animparis 
{
   0%
        {
		transform: scale(0.5);		
	}
  100% 
        {
		transform:translate(10px,220px) scale(0.75);
        visibility:hidden;
	}
}

