/** page carte restaurant la palette du gout **/
/**                                          **/

a.affichefleche {
    position:absolute;
    top:10px;
    top:1rem;
    left:30px;
    left:3rem;
}

.carteimgpalette {
    width:100%;
    height:160px;
    height:16rem;
    margin:auto;
    background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position: center;
}

.cartemenu {
    width:100%;
    background: lighten($colour-fondgris,$pourcentage-fondlighten);
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    /*border-top-left-radius:3rem;
    border-top-right-radius:3rem;*/
    position:relative;
    top:-20px;
    .nomrestaurant {
        padding-top: 15px;
        padding-top: 1.5rem;
        h1 {
            font-family: 'Shrikhand','Trebuchet MS', Arial, sans-serif;
            font-weight: 500;
            /*text-align:center;*/
            position:relative;
            left:5%;
        }
        .fa-heart::before {
            margin-left:30px;
            margin-left:3rem;
            position:absolute;
            top:20px;
            top:2rem;
            right:10%;
        }
    }
    .envelopthemeplat {
        position:relative;
        .cartethemeplat {
            margin-left:5%;
            .titrecarte {
                text-transform: uppercase;
            }
            .soulignement {
                width:10%;
                height:3px;
                height:0.3rem;
                background: $colour-tertiaire;
                margin-bottom:10px;
                margin-bottom:1rem;
            }
            .envelopcartethemeplatcontenu {
                position:relative;
                a {
                    text-decoration:none;
                    color:black;
                    /*position:relative;*/
                    .cartethemeplatcontenu {
                        width:94%;
                        height:60px;
                        border-radius:10px;
                        border-radius:1rem;
                        box-shadow: 2px 2px 6px grey;
                        .plat {
                            margin-left:4%;
                            padding-top:5px;
                            padding-bottom:5px;
                            padding-top:0.5rem;
                            padding-bottom:0.5rem;
                            position:relative;
                            .tarif {
                                position:absolute;
                                bottom: 5px;
                                right:15px;
                                bottom: 0.5rem;
                                right:1.5rem;
                            }
                        }
                    }
                    .cartethemeplatselect {
                        width:50px;
                        width:5rem;
                        height:60px;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        box-shadow: 2px 2px 6px grey;
                        background: $colour-tertiaire;
                        position:absolute;
                        top:0px;
                        right:-500px;
                        p {
                            text-align:center;
                            padding-top:25%;
                            color:white;
                            font-size: 20px;
                            font-size: 2.0rem;
                        }
                    }
                }/*a*/
            } /*envelopcartethemeplatcontenu*/   

            .envelopcartethemeplatcontenu:hover {
                .cartethemeplatselect {
                    animation-name:deplacement;
                    animation-duration:0.4s;
                }
            }/*envelopcartethemeplatcontenu:hover*/   
                      
        } /*cartethemeplat*/

    } /*envelopthemeplat*/
} /*cartemenu*/

@keyframes deplacement{
    0% {
        right:-30px;
    }
    50% {
        right:0px;
    }
    100% {
        right:20px;
    }
}

