header {
    position:relative;
    a {
        position:absolute;
        top:8px;
        color:black;
    }
    /**/
    /* la fleche qui sert de retour sur page index*/
    /* n'est pas affichée sur page index */
    /* pour les autres pages il suffira de supprimer de code */
    /* pour activer le lien et voir apparaitre la fleche */
    /**/
    a.affichefleche {
        display:none;
    }
}

.entetelogo {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-top:10px;
}

.hautpage {
    width:100%;
    /*background-color:$colour-fondgris;*/
    background-color: lighten($colour-fondgris,$pourcentage-fondlighten);
    margin-top:15px;
    padding-bottom:20px;
}

.rechercheform {
    width:100%;
    background-color: darken($colour-fondgris,$pourcentage-fonddarken);
}

.rechercher {
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}

/* icone  marqueur de lieu */

.fa-map-marker-alt {
    color: lighten($color-police,30);
    font-weight:bold;
    font-size:2rem;
}

/* zone input recherche ville */

input[name="rechercheville"] {
    padding:10px;
    color: lighten($color-police,30);
    font-weight:bold;
    font-size:1.8rem;
    border:0;   
    outline:unset;
    background-color: darken($colour-fondgris,$pourcentage-fonddarken);
}

.baseline {
    margin-top:20px;
    margin-bottom:20px;
    h1 {
    text-align:center;
    }
}

.soustitre {
    margin-bottom:20px;
    p {
    text-align:center;
    }
}

.btnexplorer {
    text-align:center;
    margin-bottom:20px;
}