@mixin border($colour:$colour-secondary,$radius:10rem) {
    border: 1px solid $colour;
    border: .1rem solid $colour;
    border-radius:$radius;
}

@mixin apparition($name,$duration,$timefunct,$fillmode,$delay) {
    animation-name:$name;
    animation-duration:$duration;
    animation-timing-function:$timefunct;
    animation-delay:$delay;
}

/*@mixin btn ($colourprimary:$colour-primary,$coloursecondary:$colour-secondary,$pourcentagesecond:10%,$pourcentageprimary:90%,$pourcentagelighten:10) {
    padding: $btn-paddingv $btn-paddingh;
    @include border;
    color: $btn-color;
    font-weight: bold;
    background:linear-gradient(to bottom, $coloursecondary $pourcentagesecond, lighten($colourprimary,$pourcentagelighten) $pourcentageprimary);
    box-shadow:2px 2px 0px $colour-primary;
    box-shadow:0.2rem 0.2rem 1rem $colour-primary;
    cursor: pointer;
    outline: unset;
    &:hover{
        background: $colourprimary;
        
        outline: unset;
    }
}*/ 