$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiaire: #99E2D0;
$colour-fondgris:#f2f2f2;
$color-fondblanc:#fff;
$pourcentage-fonddarken:5;
$pourcentage-fondlighten:0;
$color-police:black;
$btn-paddingv:1rem;
$btn-paddingh:2rem;
$btn-color:white;
